<div class="fundo">
  <div class="card">

    <div class="logo">
      <h1>Festou!</h1>
      <p>Digite suas informações</p>
    </div>


    <form (submit)="verificaInfo($event)">


      <div class="campo">

        <label>E-mail</label>

        <input type="text" [formField]="usuarioForm.email" placeholder="Digite o seu email">
        @if (usuarioForm.email().touched() && usuarioForm.email().invalid()) {
        @for (error of usuarioForm.email().errors(); track error.kind){
        <span>{{error.message}}</span>
        }
        }
      </div>


      <div class="campo">
        <label>Senha</label>

        <div class="senha-box">

          <input type="password" [formField]="usuarioForm.senha" placeholder="Digite sua senha">
          @if (usuarioForm.senha().touched() && usuarioForm.senha().invalid()) {
          @for (error of usuarioForm.senha().errors(); track error.kind){
          <span>{{error.message}}</span>
          }
          }


        </div>
      </div>
      <button type="submit" class="btn-entrar">
        Entre
      </button>
    </form>


  </div>
</div>